ENV=development
#Костыль для установки @prisma/engines
PRISMA_BINARIES_MIRROR="https://npmmirror.com/mirrors/prisma"
PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING="1"

DATABASE_PROVIDER="postgresql"
DATABASE_URL="postgresql://test:12345678@postgres:5432/database"
# DATABASE_PROVIDER="sqlite"
# DATABASE_URL="file:./dev.db"

POSTGRES_USER=test
POSTGRES_PASSWORD=12345678
POSTGRES_DB=database

FRONTEND_ORIGIN="*"

REDIS_URL=redis://redis:6379

SERVER_PORT=3000

JWT_SECRET="change_me_generate_32_bytes"

BOT_TOKEN="YOUR_TOKEN"
